
<table class="master"> 
  <th colspan="2">Card Details</th>
  <tr> <td>Card Number</td><td> <%= card.number %> </td> </tr>
  <tr> <td>Card Issuer</td><td> <%= card.category %> </td> </tr>
  <tr> <td>Credit Limit</td><td>$ <%= card.credit_limit %> </td> </tr>
  <tr> <td>Expiry Date</td><td> <%= card.exp_date %> </td> </tr>
  <tr> <td>CVV</td><td> <%= card.cvv %> </td> </tr>
</table>  


