
<%= "description category currency transaction date  post date from account to account account id " %><br>
<% @transactions.each do |transaction| %>
  <div class='transaction'>
    <ul class='transaction-attributes'>
      <li>  <%= transaction.id %></li>
      <li>  <%= transaction.description %></li>
      <li>  <%= transaction.amount %></li>
      <li>  <%= transaction.currency %></li>
      <li>  <%= transaction.transaction_type %></li>
      <li>  <%= transaction.transaction_status %></li>
      <li>  <%= transaction.transaction_date %></li>
      <li>  <%= transaction.post_date %></li>
      <li>  <%= transaction.merchant %></li>
      <li>  <%= transaction.created_at %></li>
      <li>  <%= transaction.updated_at %></li>
      <li>  <%= transaction.associated_entity %></li>
      <li>  <%= transaction.card_id %></li>
      <li>  <%= transaction.account_id %></li>
    </ul>
  </div>
<% end %>

<% if @card %> 
   <%= link_to 'Add new card Transaction', new_user_card_transaction_path(current_user, @card.id) %> 
<% end %> 

