<div class=<%= "transaction #{@transaction.id}"%> >
  <ul class='transaction-attributes'>
    <li> <%= @transaction.id %> </li>
    <li> <%= @transaction.description %> </li>
    <li> <%= @transaction.card_id %> </li>
    <li> <%= @transaction.account_id %> </li>
    <li> <%= @transaction.associated_entity %> </li>
  </ul>
</div>
