<div class="input-form">
  <% if @card.errors.any? %>
    <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @card, url: user_cards_path(@user.id), html: {method: "create", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <span class="col-md-12 text-center">
      <h1>Add Card</h1>
    </span>
  </div>
  <div class="form-group">
    <span class="control-label text-right col-md-4">
    <%= f.label 'Card Number' %>
    </span>
    <span class="text-left col-md-8">
    <%= f.text_field :number, placeholder: 'Card Number', class: 'form-control' %>
    </span>
  </div>
  <div class="form-group">
    <span class="control-label text-right col-md-4">
    <%= f.label 'Category' %>
    </span>
    <span class="text-left col-md-8">
    <%= select_tag(:category, options_for_select([['American Express', 1], ['Discover', 2], ['Mastercard', 3], ['VISA', 4]]), class: 'form-control') %>
    </span>
  </div>
  <div class="form-group">
    <span class="control-label text-right col-md-4">
    <%= f.label 'Credit Limit' %>
    </span>
    <span class="text-left col-md-8">
    <%= f.text_field :credit_limit, placeholder: 'Credit Limit', class: 'form-control' %>
    </span>
  </div>
  <div class="form-group">
    <span class="control-label text-right col-md-4">
    <%= f.label 'Expiration Date' %>
    </span>
    <span class="text-left col-md-8">
    <%= f.date_field :exp_date, placeholder: 'Expiration Date', class: 'form-control' %>
    </span>
  </div>
  <div class="form-group">
    <span class="control-label text-right col-md-4">
    <%= f.label 'CVV' %>
    </span>
    <span class="text-left col-md-8">
    <%= f.text_field :cvv, placeholder: 'CVV', class: 'form-control' %>
    </span>
  </div>
  <div>
    <span class="btn btn-block col-md-12">
      <%= f.submit 'Add Card' %>
    </span>
  </div>
  <% end %>
</div>

      
